:root {
    --color-jc-green: rgb(55, 219, 103);
    --color-jc-gray: rgb(191, 191, 191);
    --color-jc-black: rgb(67, 73, 85);
    --color-jc-font: #676f7c;
    --color-jc-heading: #434955;

}

body {
    color: var(--color-jc-font);
    margin: auto;
    width: 1000px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-jc-heading);
}

a {
    color: var(--color-jc-green);
    text-decoration: none;
    font-weight: 500;
}

.todo {
  background-color: yellow;
  color: blue;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 90px auto 90px;
}

.header {
    background-color: azure;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.content {
    background-color: antiquewhite;
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px;
}

.sidebar {
    background-color: burlywood;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    background-color: var(--color-jc-black);
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}