<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The title</title>
    <link rel="stylesheet" href="/JC.Tools/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700"
      media="all"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="headerInner">
          <h1><a href="/JC.Tools">JC.Tools</a></h1>
        </div>
      </div>
      <div class="main">
        <div class="content">{{ content }}</div>
        <div class="sidebar">
            <h2>Tutorials</h2>
            <p><a href="/JC.Tools/quick-start-local/intro">Quick intro</a></p>
            <p><a href="/JC.Tools/quick-start-devops/intro">How to use in Azure DevOps</a></p>
            <h2>Documentation</h2>
            <p><a href="/JC.Tools/reference">Reference</a></p>
            <h2>Support</h2>
            <p>Forum: <span class="todo"><a href="#">https://link.to.forum</a></span></p>
            <p>Via email at <a href="mailto:info@joyfulcraftsmen.com">info@joyfulcraftsmen.com</a></p>
            <p>Phone: only for paid support package</p>
            <h2>How to Buy</h2>
            <p>Contact us at: <span class="todo">email here?</span></p>
        </div>
      </div>
      <footer class="footer">
        <div class="footerInner">&copy; Joyful Craftsmen</div>
      </footer>
    </div>
  </body>
</html>
