<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The title</title>
    <link rel="stylesheet" href="/JC.Tools/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700"
      media="all"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="headerInner">
          <h1><a href="/JC.Tools">JC.Tools</a></h1>
        </div>
      </div>
      <div class="main">
        <div class="content">{{ content }}</div>
        <div class="sidebar">
            <p><span class="todo">here will come a complete navigation</span></p>
            <ul>
                <li><a href="/JC.Tools/index">Home</a></li>
                <li>Tutorials
                    <ul>
                        <li><a href="/JC.Tools/quick-start-local/intro">Quick Start Tutorial</a></li>
                        <li><a href="/JC.Tools/quick-start-devops/intro">JC.Unit in DevOps Tutorial</a></li>
                    </ul>
                </li>
                <li><a href="/JC.Tools/reference/index">Reference</a></li>
                <li>
                    <ul>Installation
                        <li><a href="/JC.Tools/reference/installation/prerequisites">Prerequisites</a></li>
                        <li><a href="/JC.Tools/reference/installation/installation">Installation</a></li>
                        <li>...</li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
      <footer class="footer">
        <div class="footerInner">&copy; Joyful Craftsmen</div>
      </footer>
    </div>
  </body>
</html>
